
*{
    padding: 0px;
    box-sizing: border-box;
}
.mainLogin {
  background-color: #1D8CFB;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
#img1{
    height: 450px;
    position: absolute;
    top: -40%;
    width: 380px;
    transform: rotate(-40deg);

    background-color: 
    #E0E0E0;
    border-radius: 25px;
}
.formLogin{
    height:75vh;
    width: 550px;
    /* background-color: #d28f6d; */
    background-color: 
    #F6FBF9;
    margin: 40px auto;
    z-index: 1; 
    border-radius: 20px;
    
}
.headLogin{
   
    width: full;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bolder;
    font-size: x-large;
    letter-spacing: 1px;  
}
.text{
    display: flex;
    justify-content: center;
    color: rgb(19, 18, 18);
}
.inputsLogin{
   height: 35vh;
    width: 445px;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 40px;
   margin-left: 50px;
  

}
.inputsLogin input{
    width: 320px;
    height: 52px;
    padding: 0px 30px;
    border-radius: 8px;
    text-decoration: none !;
    border: 1px solid #ccc;
}
.buttonLogin{
    width:full;
    display: flex;
    justify-content: center;
}
.buttonLogin button{
    background-color: #1D8CFB;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-size:large;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.already{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 9px;
} 
span{
   text-decoration: none;
   outline: none !important;
   cursor: pointer;
}
.Forgotlink{
    height: 5vh;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: 
    #32403B;
}
#img2{
    height: 600px;
    position: absolute;
    bottom: -55%;
    right: 20px;
    width: 430px;
    transform: rotate(-45deg);
    overflow: hidden;
    background-color: 
    #E0E0E0;
    border-radius: 25px;
}


.buttonLogin button :link{
    text-decoration: none;
}