.mainSidebar{
  position: fixed;
  align-items: center;
  width: 38vh;
  height: 97vh;
  border-radius: 12px;
 background-color: hsl(0, 0%, 100%);
 margin-left: 10px;
 margin-right: 5px;
}
.main2SideBar22{
    position: fixed;
   width: 36vh;
   height: 97vh;
   border-radius: 12px;
  
  padding-left: 12px;
  }
.brand{
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left:  28px;
}
.brand img{
    margin: 0;
    cursor: pointer;
   
}
.menus{
    height: 15vh;
padding-left: 10px;
padding-top: 28px;
    gap: 2px;
}
.account{
    height: 19vh; 
    margin: 4px;
     padding: 12px;
}
.upgrade{
    height: 35vh;
   background-color: #F2F6FA;
    width: 200px;
    margin-left:20px;
    border-radius: 12px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 30px;
    padding-left: 28px;
    margin-top: 2px;
    width: 180px;
    border-radius: 7px;
    cursor: pointer;
}
.menu p{
    font-weight: bolder;
    color: #3c3a3a;
}

.head2{
    color: aqua;
    font-weight:bolder;
    padding-left: 15px;
    margin-bottom: 12px;
    
}
ul{
   height: 18vh;
    padding-left: 12px;
    margin-left: 8px;
}
li{
  font-weight: bold;
  font-size: small;
 cursor: pointer;
   width: 160px; 
   padding-left: 12px;
   color: 
   #828282;
}

.upgrade2{
    height:50vh;
    width: 220px;
    position: relative;
    left: 0px;

}
.headupgrade{
   
    display: flex;
    width: 200px;

}
.headu{
    
    font-weight: 600;
    letter-spacing: 0.9px;
    padding-left: 8px;
    font-size:x-large;
    width: 200px;
    padding: 10px;
    color:#5B5E6F;
    font: Poppins;
    
    
}
.headu span{
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 1px;
    color:#323336;
    text-decoration: none;
    

}
.parau{
  
    width: 110px;
    height: 80px;
    font-weight: 600;
    padding-left: 7px;
}
.parau span{
    font-weight: bolder;
    font-size: larger;
    font-style: normal;
    text-decoration: none;
}
.imagelogo{

    position: absolute;
    top: 110px;
    left: 30px;
}
.imagelogo img{
    height: 160px;
   
}
.logout3{
    height: 8vh;
    position: relative;
    top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 10px;
    padding-right: 10px;
}
.logout3 p{
    font-size:large ;
    font-weight: bolder;
    cursor: pointer;
}
.logout3 .logoutIcon{
    cursor: pointer;
}

 